.logo{
  height:7rem;
  width:7rem;
 
}
.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  padding:20px;
  
} 
h-line{
  border:1px solid gray;
}
body{
  font-family: 'Poppins', sans-serif;
  background-color: crimson;
}
.header-container,.login-container,.footer{
  border:1px solid gray;
  width:1000px;
  margin:0 auto;
  background-color: white;
}

.btn{
  display: flex;
  gap:10px;
  align-items: center;
}

.form-container{
  padding: 20px;;
}
.submit-btn{
  display: flex;
  justify-content: space-between;
}
.p{
  color:red;
}
.footer{
  display: flex;
  justify-content: center;
 
}
a{
  text-decoration: none;
  color:red;
}